.TodoFormContainer {
	display: grid;
}

.TodoForm {
	width: 300px;
	place-self: center;
	padding: 0 10px;
}

p {
	display: flex;
	justify-content: space-between;
}

input,
textarea {
	width: 130px;
}
