.todo-view {
	border: 1px solid black;
	padding: 20px;

	display: flex;
	justify-content: space-between;
	height: 110px;
	background-color: rgb(0, 151, 144);
}

.todo-view div h4 {
	font-size: 30px;
	margin-bottom: 10px;
}

.todo-view div p {
	font-size: 16px;
}

.todo-view div p::before {
	content: 'OBS! ';
}

.todo-completed {
	background-color: green;
}

.todo-btns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 140px;
}

.todo-btns button {
	flex-grow: 1;
	cursor: pointer;
}

.todo-btns button:hover {
	background-color: black;
	color: white;
}

.todo-btns button:active {
	background-color: gray;
}

.todo-btns button:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.todo-btns button:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
